[Desktop Entry]
Name=Sereno
X-KDE-PluginInfo-Name=Sereno
X-KDE-PluginInfo-Author=Caig
X-KDE-PluginInfo-Email=giacomosrv@gmail.com
X-KDE-PluginInfo-Version=0.2.1
X-KDE-PluginInfo-License=GPL
