[Desktop Entry]
Name=Diagonale Blue Breeze

X-KDE-PluginInfo-Author=Giacomo Barazzetti
X-KDE-PluginInfo-Email=giacomosrv@gmail.com
X-KDE-PluginInfo-Name=DiagonaleBlueBreeze
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-License=CC-BY-SA
